@charset "UTF-8";


/*-------------------------
  初期値
-------------------------*/
body {
  padding-top: 72px;
  --key-color: #8e44ad;
  --sub-color: #7e349d;
}

@media screen and (max-width: 768px) {
  body {
  padding-top: 58px;
  }
}

.btn-primary {
  background-color: var(--key-color);
  border: 1px solid var(--key-color);
}

.btn-primary:hover {
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
}


ul {
  padding-left: 0;
  list-style-type: none;
}

/*-------------------------
  トップ
-------------------------*/
.topics p {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

footer a {
  color: #8e44ad;
}

footer a:hover {
  color: var(--sub-color);
}
